<p><input matInput placeholder="Nome" [(ngModel)]="this.nome"></p>
	<p><input matInput placeholder="Idade" [(ngModel)]="this.idade"></p>
		<p><input matInput placeholder="Brutos" [(ngModel)]="this.brutos"></p>
			<p><input matInput placeholder="A. Custo" [(ngModel)]="this.aCusto "></p>
				<p><input matInput placeholder="Estado Civil" [(ngModel)]="this.eCivil"></p>
					<p><input matInput placeholder="Dependentes" [(ngModel)]="this.depen"></p>

						<div class="container  widthcontainer">

							<div class="row ">

								<div class="col-sm-12 "></div>
								<!-- HEADER -->

							</div>

							<div class="row ">

								<div class="col-sm leftside">
									<div class="container ">
										<div class="row "><div class="col-sm "></div></div>
                    <div class="row "><div class="col-sm "></div></div>
                    <div class="row "><div class="col-sm "></div></div>
                    <div class="row "><div class="col-sm "></div></div>
										<div class="row "><div class="col-sm "></div>Bruto</div>
										<div class="row "><div class="col-sm "></div>Sub. Ali.</div>
										<div class="row "><div class="col-sm "></div>Sub. Férias</div>
										<div class="row "><div class="col-sm "></div>Sub. Natal</div>
										<div class="row "><div class="col-sm "></div>A. Custo</div>
										<div class="row "><div class="col-sm "></div>Seguro</div>
										<div class="row "><div class="col-sm "></div>TSU</div>
										<div class="row "><div class="col-sm "></div>T. Autonoma</div>
										<div class="row "><div class="col-sm "></div>Encargo</div>
										<div class="row "><div class="col-sm "></div>Lucro Médio</div>
										<div class="row "><div class="col-sm "></div></div>
									
									</div>
								</div>

								<div class="col-sm  ">
									<div class="container ">
										<div class="row ">
											<div class="col-sm-1 " *ngFor="let titulo of titulos">{{titulo}}</div>
										</div>

										<div class="row ">
											<div class="col-sm-1 "><div class="col-sm ">{{nome}}</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{idade}}</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{brutos}} €</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{aCusto}} €</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{sAli}} €</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{eCivil}}</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{depen}}</div></div>
										</div>

                    <div class="row ">
										  <div class="col-sm-1 "><div class="col-sm "></div></div>
										</div>

										<div class="row ">
											<div class="col-sm-1 " *ngFor="let titulo of meses">{{titulo}}</div>
										</div>

                    <div class="row ">
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
										</div>

                    <div class="row ">
											<div class="col-sm-1 "><div class="col-sm ">{{(jan*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(fev*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(mar*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(abr*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(mai*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(jun*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(jul*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(ago*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(set*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(out*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(nov*sAli).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(dez*sAli).toFixed(2)}}€</div></div>
										</div>

                      <div class="row ">
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
										</div>

                       <div class="row ">
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(brutos*1).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm "></div></div>
										</div>

                        <div class="row ">
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
											<div class="col-sm-1 "><div class="col-sm ">{{(aCusto/11*12).toFixed(2)}}€</div></div>
										</div>

									</div>
								</div>

								<div class="col-sm  rightside">
									<div class="container ">
                    <div class="row "><div class="col-sm "></div></div>
                    <div class="row "><div class="col-sm "></div></div>
                    <div class="row "><div class="col-sm "></div></div>
										<div class="row "><div class="col-sm ">TOTAIS</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
										<div class="row "><div class="col-sm ">€</div></div>
									</div>
								</div>

							</div>

						</div>