.leftside {
  Max-Width:10%;
}

.rightside {
  Max-Width:10%;
}

.widthcontainer {
  max-width: 100%;
}

div{
  margin:0%!important;
  padding:0%!important;
}

.col-sm:empty::after{
  content: ".";
  visibility:hidden;
}

.col-sm{
  text-align: right
}

.col-sm-12:empty::after{
  content: ".";
  visibility:hidden;
}

.textcolor{
text-emphasis-color: #34B18E!important;
}
