.leftside {
  Max-Width:8%;
}

.rightside {
  Max-Width:8%;
  text-align: right;
}

div{
  margin:0%!important;
  padding:0%!important;
}

.col-sm:empty::after{
  content: ".";
  visibility:hidden;
}

.col-sm-1{
  text-align: right;
}

.col-sm-12:empty::after{
  content: ".";
  visibility:hidden;
}

input {
  margin-left: 15px;
  background-color: transparent!important;
  border-radius: 5px;
  color: white;
  padding: 5px;
  border:1px solid #34B18E;
}
  
input:focus {
    box-shadow: none;
    outline: none;
}

select {
  
  margin-left: 15px;
  background-color: transparent!important;
  border-radius: 8px;
  border-color: #34B18E!important;
  color: white;
  padding: 10px!important;
  width: 157px!important;
  height: 30px!important;
}

select:focus {
    box-shadow: none;
    outline: none;
}

mat-toolbar{
font-size: 15px!important;
}
