.leftside {
  Max-Width:10%;
}

.rightside {
  Max-Width:10%;
}

div{
  margin:0%!important;
  padding:0%!important;
}

.col-sm:empty::after{
  content: ".";
  visibility:hidden;
}

.col-sm{
  text-align: right
}

.col-sm-12:empty::after{
  content: ".";
  visibility:hidden;
}

input {
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent!important;
  border-radius: 8px;
  border-color: #34B18E!important;
  color: white;
  padding: 5px;
}
  
input:focus {
    box-shadow: none;
    outline: none;
}

select {
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent!important;
  border-radius: 8px;
  border-color: #34B18E!important;
  color: white;
  padding: 10px!important;
  width: 159px!important;
  height: 32px!important;
}

select:focus {
    box-shadow: none;
    outline: none;
}

img {
  width:200px;
  height:40px;
  background: #1b1f2b!important;
}
