
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1b1f2b!important;
}

img {
  width:150px;
  height:40px;
  background: #1b1f2b!important;
  margin:15px;
}

button{
  margin-left: 15px;
  margin-right: 15px;
  width:150px;
  background:transparent;
  color:white;
}

button:hover {
  background: #34B18E;
}

button:focus{
  box-shadow: none;
  outline: none;
}
