<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true"><p><img class="resize"src="https://res.cloudinary.com/simbiotec/image/upload/v1554577369/simbiotec/logo.svg.svg" ></p>
  <p><button mat-button>Simulator1</button></p>
  <p><button mat-button>Simulator2</button></p>
  <p><button mat-button>Simulator3</button></p>
  <p><button mat-button>Simulator4</button></p>
  </mat-sidenav>
  <mat-sidenav-content><app-simulator></app-simulator></mat-sidenav-content>
</mat-sidenav-container>

