/* Add application styles & imports to this file! */

 body{
   background-color: #1b1f2b!important;
   font-family: 'Source Code Pro',monospace!important;
   color: #34B18E;
   font-size: 12px; 
  
}

.container {
    max-width: 1200px!important;
}


//   background-color: #34B18E